<div class="jumbotron jumbotron-other">
    <div class="container">
        <h1>About</h1>
 		<p>Here is a few facts about me...</p>
		 <ul>
		 	<li>Born an raised in Brazil</li>
		 	<li>Moved to California when I was 15 years old, one month prior 9/11</li>
			<li>I am fluent in Portuguese and Spanish</li>
		 	<li>I am a proud US Army veteran, Infantryman, one deployment</li>
		 	<li>Completed my BA in Admininstration in Information Systems and Technology in 2014 <br> from California State University San Bernardino</li>
		 	<li>This is my first programming course</li>
		 </ul>   
    </div>
</div>