<div class="jumbotron jumbotron-other">
    <div class="container">
        <h1><span class="tag tag-pill tag-default">Contact</span></h1>
			<a href="https://www.facebook.com/williamggs" class="btn btn-outline-primary btn-lg" target="_blank">Facebook</a></li>
			<a href="https://www.linkedin.com/in/williamggs" class="btn btn-outline-success btn-lg"target="_blank">LinkedIn</a></li>
			<a href="https://github.com/williamggs" class="btn btn-outline-warning btn-lg" target="_blank">GitHub</a></li>
    </div>
</div>