<div class="jumbotron jumbotron-other">
    <div class="container">
        <h1>Contact</h1>
        <p>Please contact me by....</p>
        <ul>
			<li><a href="https://www.facebook.com/williamggs">Facebook</a></li>
			<li><a href="https://www.linkedin.com/in/williamggs">LinkedIn</a></li>

			
		</ul>
    </div>
</div>